<footer>
    <div class="row">
        <div class="column">
            <nav>
                <ul id="menu">
                    <li><a href="index.html">Portada</a></li>
                    <li><a href="presentacion.html">Introducci&oacute;n</a></li>
                    <li><a href="categoria.html">Vida y Eventos</a></li>
                    <li><a href="enlaces.html">Referencias</a></li>
                </ul>
            </nav>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="column">2022 &copy; Francisco Miguel Biete Ba&ntilde;&oacute;n</div>
        <div class="column text-right">M4.257 Herramientas HTML y CSS</div>
    </div>
</footer>


<script src="menu.js"></script>
<script>
    activar_menu("menu");
</script>